.main {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
        background-color: #faf8f8;
    /* background-color: #814a4a; */
    justify-content: center;
    align-items: center;
    margin-top:10px;
    padding-top: 100px;
    gap: 30px;

}

.logo-wrapper {
    width: 50vw;
    justify-content: flex-start;
    display: flex;
}

.logo-txt {
    font-weight: 800;
    font-size: 36px;
    font-family: 'Lora', serif;
    margin-right: 100px;
    line-height: 100px;
    letter-spacing: -0.5px;
}


 
.card .txt {
    width:43vw;
    margin-left: 50px;
}

.txt .title {
    padding: 10px 0px;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: larger;

}


.txt p {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 26px;

}

.blog_btn{
    padding: 20px;
}
.blog_btn button{
    padding: 10px;
    border-radius:25px;
    border: 1px solid rgb(192, 212, 10);
    width:150px;
    height:40px;
}

 

@media (min-width: 1536px) {
    .container {
        max-width: 1600px;
    }
}