* {
    font-family: sans-serif;
}

.main {

    margin-left: 200px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}



.blogs_container {

    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    gap: 50px;

    height: auto;

}

.title h1 {
    font-weight: 600;
    font-size: larger;
}

.blogs_card {
    background-color: #f8f7f7;
    width: 300px;
    border-radius: 1px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        height:430px;
 
}



.btn_wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 10px 0px;
}

.delete_btn,
.edit_btn {
    font-family: sans-serif;
    padding: 5px 28px;
    width: 100px;
    background-color: #b31010;
    border-radius: 5px;
    color: white;
}

.delete_btn:hover{
    background-color: #8f0f0f;
}
.edit_btn {
    background-color: #629962;
}


.text_wrapper p {
    width: 10px;
      height: 395px;
     
}